<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageComparison.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ImageComparison.Properties.Settings>
            <setting name="Img1" serializeAs="String">
                <value />
            </setting>
            <setting name="Img2" serializeAs="String">
                <value />
            </setting>
            <setting name="Img3" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageNumber" serializeAs="String">
                <value>0</value>
            </setting>
        </ImageComparison.Properties.Settings>
    </userSettings>
</configuration>